<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Centro de datos MEF</title>
  </head>
  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal"><a class="navbar-brand" href="/">Catálogo de Datos</a></h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="https://docs.google.com/forms/d/e/1FAIpQLSeUj432TlksyMyRaXT8yD5HXKv9ycWBDcWwjyoJzCo0_sjZMw/viewform"  target="_blank" >Requerimientos</a>
        <a class="p-2 text-dark" href="https://docs.google.com/spreadsheets/d/1MPPDISq0ZMubOw7HtGVFkp0LjCt35OuyC_ZrQ61gXQM/edit#gid=1620414377"  target="_blank" >Catálogo</a>
        <a class="p-2 text-dark" href="#">Procesos</a>
      </nav>
      <a class="btn btn-outline-primary" href="#">Sign up</a>


    </div>

    <div class="container">
      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Dominio de Datos MEF</h1>
        <p class="lead">Explora la información que se encuentran en el Centro de datos. Indistintamente del origen de los datos te los agrupamos en los siguientes dominios para facilitarte un catálogo de calidad.</p>

        <form action="/search" method="POST">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar en el Centro de Datos del MEF" aria-label="Search" name="query">
        </form>
      </div>
    <div class="py-5">
          <div class="card-deck mb-3 text-center">
            {% for i in dominios.index %}
              <div class="card mb-4 shadow-sm">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">{{ dominios.dominio[i] }}</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">{{ dominios.cantidad_tablas[i] }} <small class="text-muted">/ {{ dominios.periodicidad[i] }}</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li> {{ dominios.cantidad_tablas[i] }} tablas asociadas</li>
                    <li> {{ dominios.number_records[i] }} registros</li>
                    <li> {{ dominios.size_dominio[i] }} GB Info</li>
                    <li>Disponible en DataLake MEF</li>
                  </ul>
                  {% if (  i == 0 ) %}
                    {% set  dominionombre = "None" %}
                  {% else %}
                    {% set  dominionombre = dominios.dominio[loop.index - 1] %}
                  {% endif %}
                  <a class="btn btn-lg btn-block btn-outline-primary" href="{{ url_for('dominio', nombredominio = dominionombre ) }}" role="button">Explorar</a>
                </div>
              </div>
              {% if (  i % 3 == 2 ) %}
                </div><br>
                <div class="card-deck mb-3 text-center">
              {% endif %}
            {% endfor %}
    </div> <br>

      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">&copy; 2020</small>
            <small class="d-block mb-3 text-muted">Viceministerio de Hacienda</small>
            <small class="d-block mb-3 text-muted">Ministerio de Economía y Finanzas</small>
          </div>
          <div class="col-6 col-md">
            <h5>Entidades</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Cool stuff</a></li>
              <li><a class="text-muted" href="#">Random feature</a></li>
              <li><a class="text-muted" href="#">Team feature</a></li>
              <li><a class="text-muted" href="#">Stuff for developers</a></li>
              <li><a class="text-muted" href="#">Another one</a></li>
              <li><a class="text-muted" href="#">Last time</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Fuentes Internas</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Resource</a></li>
              <li><a class="text-muted" href="#">Resource name</a></li>
              <li><a class="text-muted" href="#">Another resource</a></li>
              <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Acerca</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Team</a></li>
              <li><a class="text-muted" href="#">Locations</a></li>
              <li><a class="text-muted" href="#">Privacy</a></li>
              <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>